@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@layer base {
    :root {
        font-family: 'Nunito', sans-serif;
        @apply scroll-smooth;
    }
    button{
        cursor: pointer;
    }

}

@theme{
    --color-primary: #F6F4F3;
    --color-secondary: #343434;
    --color-accent: #FF6F59;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));